---

---

<section class="py-20">
	<div class="container px-4 mx-auto">
		<div class="text-center">
			<h2 class="mt-8 mb-16 text-4xl font-semibold font-heading">Key Metics & Achievements</h2>
		</div>
		<div class="flex flex-wrap -mx-4 -mb-8">
			<div class="w-full md:w-1/2 lg:w-1/4 px-4 mb-8">
				<div class="h-full flex flex-col">
					<div class="text-center">
						<span class="flex items-center justify-center w-14 h-14 mb-8 mx-auto bg-teal-400 rounded-full">
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" data-reactroot="" class="">
								<path
									stroke-linejoin="round"
									stroke-linecap="round"
									stroke-miterlimit="10"
									stroke-width="1"
									stroke="#ffffff"
									fill="none"
									d="M22 12.5C22 10.01 19.99 8 17.5 8H15.5C13.01 8 11 10.01 11 12.5C11 14.99 13.01 17 15.5 17H17L20 20V16.24C21.21 15.43 22 14.06 22 12.5Z"></path>
								<path
									stroke-linejoin="round"
									stroke-linecap="round"
									stroke-miterlimit="10"
									stroke-width="1"
									stroke="#ffffff"
									fill="none"
									d="M15.9 8H15.5C13.01 8 11 10.01 11 12.5C11 13.02 11.09 13.52 11.25 13.99C11.17 14 11.08 14 11 14H9L5 18V13.58C3.24 12.81 2 11.05 2 9C2 6.24 4.24 4 7 4H11C13.42 4 15.44 5.72 15.9 8Z"
								></path>
							</svg>
						</span>
						<h3 class="mb-4 text-2xl font-semibold font-heading h-20 flex items-center justify-center">300+ Youth Reached Annually</h3>
					</div>
					<p class="text-xl text-gray-500 flex-grow text-center">
						Through our engaging after-school programs—including STEAM activities, chess club, and life readiness classes—we've created safe, supportive environments for over 300 youth each year to
						learn, grow, and thrive.
					</p>
				</div>
			</div>
			<div class="w-full md:w-1/2 lg:w-1/4 px-4 mb-8">
				<div class="h-full flex flex-col">
					<div class="text-center">
						<span class="flex items-center justify-center w-14 h-14 mb-8 mx-auto bg-red-400 rounded-full">
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" data-reactroot="" class="">
								<path stroke-linecap="round" stroke-miterlimit="10" stroke-width="1" stroke="#ffffff" d="M2 13H22"></path>
								<path
									stroke-linejoin="round"
									stroke-linecap="round"
									stroke-miterlimit="10"
									stroke-width="1"
									stroke="#ffffff"
									fill="none"
									d="M3 16C3 17.11 3.25 18.16 3.71 19.13C5.07 22.01 8.27 22 12 22C15.73 22 18.93 22.01 20.29 19.13C20.75 18.16 21 17.11 21 16H3Z"></path>
								<path stroke-linejoin="round" stroke-linecap="round" stroke-miterlimit="10" stroke-width="1" stroke="#ffffff" fill="none" d="M21 10C21 5.58 16.97 2 12 2C7.03 2 3 5.58 3 10H21Z"></path>
								<path stroke-linejoin="round" stroke-linecap="round" stroke-miterlimit="10" stroke-width="1" stroke="#ffffff" d="M15.99 7H16.01"></path>
								<path stroke-linejoin="round" stroke-linecap="round" stroke-miterlimit="10" stroke-width="1" stroke="#ffffff" d="M11.99 5H12.01"></path>
								<path stroke-linejoin="round" stroke-linecap="round" stroke-miterlimit="10" stroke-width="1" stroke="#ffffff" d="M8 7H8.01"></path>
							</svg>
						</span>
						<h3 class="mb-4 text-2xl font-semibold font-heading h-20 flex items-center justify-center">1,500+ Free Meals Served</h3>
					</div>
					<p class="text-xl text-gray-500 flex-grow text-center">
						To combat food insecurity during school breaks and after-school hours, we've provided more than 1,500 healthy meals to ensure no child goes hungry while participating in our programs.
					</p>
				</div>
			</div>
			<div class="w-full md:w-1/2 lg:w-1/4 px-4 mb-8">
				<div class="h-full flex flex-col">
					<div class="text-center">
						<span class="flex items-center justify-center w-14 h-14 mb-8 mx-auto bg-yellow-400 rounded-full">
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" data-reactroot="" class="">
								<path stroke-linejoin="round" stroke-linecap="round" stroke-width="1" stroke="#ffffff" d="M2 3V21H22"></path>
								<path stroke-linejoin="round" stroke-linecap="round" stroke-width="1" stroke="#ffffff" fill="none" d="M5 17H7V21H5V17Z"></path>
								<path stroke-linejoin="round" stroke-linecap="round" stroke-width="1" stroke="#ffffff" fill="none" d="M10 15H12V21H10V15Z"></path>
								<path stroke-linejoin="round" stroke-linecap="round" stroke-width="1" stroke="#ffffff" fill="none" d="M15 13H17V21H15V13Z"></path>
								<path stroke-linejoin="round" stroke-linecap="round" stroke-width="1" stroke="#ffffff" fill="none" d="M20 11H22V21H20V11Z"></path>
								<path
									stroke-linejoin="round"
									stroke-linecap="round"
									stroke-width="1"
									stroke="#ffffff"
									d="M4.86398 12.4454L19.5426 6.07851M19.5426 6.07851L16.7896 5.0926M19.5426 6.07851L18.3813 8.76226"></path>
							</svg>
						</span>
						<h3 class="mb-4 text-2xl font-semibold font-heading h-20 flex items-center justify-center">85% Report Boosted Academic Confidence</h3>
					</div>
					<p class="text-xl text-gray-500 flex-grow text-center">
						Surveys and feedback show that 85% of our participants feel more confident in school, thanks to our focus on tutoring, mentorship, and enrichment programming.
					</p>
				</div>
			</div>
			<div class="w-full md:w-1/2 lg:w-1/4 px-4 mb-8">
				<div class="h-full flex flex-col">
					<div class="text-center">
						<span class="flex items-center justify-center w-14 h-14 mb-8 mx-auto bg-red-400 rounded-full">
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" data-reactroot="" class="">
								<path stroke-linejoin="round" stroke-linecap="round" stroke-width="1" stroke="#ffffff" fill="none" d="M19.9999 20L11.9999 22V11L19.9999 9V20Z"></path>
								<path stroke-linejoin="round" stroke-linecap="round" stroke-width="1" stroke="#ffffff" fill="none" d="M3.99988 20L11.9999 22V11L3.99988 9V20Z"></path>
								<path
									stroke-linejoin="round"
									stroke-linecap="round"
									stroke-width="1"
									stroke="#ffffff"
									fill="none"
									d="M11.9999 8C13.6567 8 14.9999 6.65685 14.9999 5C14.9999 3.34315 13.6567 2 11.9999 2C10.343 2 8.99988 3.34315 8.99988 5C8.99988 6.65685 10.343 8 11.9999 8Z"></path>
								<path stroke-linejoin="round" stroke-linecap="round" stroke-width="1" stroke="#ffffff" d="M20.3799 16.5L18.9099 16.96"></path>
								<path stroke-linejoin="round" stroke-linecap="round" stroke-width="1" stroke="#ffffff" d="M20.3799 14.8L18.5499 15.38"></path>
								<path stroke-linejoin="round" stroke-linecap="round" stroke-width="1" stroke="#ffffff" d="M20.3799 13.1L18.3599 13.74"></path>
								<path stroke-linejoin="round" stroke-linecap="round" stroke-width="1" stroke="#ffffff" d="M20.3799 11.41L18.6499 11.95"></path>
								<path stroke-linejoin="round" stroke-linecap="round" stroke-width="1" stroke="#ffffff" d="M3.61987 16.5L5.08987 16.96"></path>
								<path stroke-linejoin="round" stroke-linecap="round" stroke-width="1" stroke="#ffffff" d="M3.61987 14.8L5.44987 15.38"></path>
								<path stroke-linejoin="round" stroke-linecap="round" stroke-width="1" stroke="#ffffff" d="M3.61987 13.1L5.63987 13.74"></path>
								<path stroke-linejoin="round" stroke-linecap="round" stroke-width="1" stroke="#ffffff" d="M3.61987 11.41L5.34987 11.95"></path>
							</svg>
						</span>
						<h3 class="mb-4 text-2xl font-semibold font-heading h-20 flex items-center justify-center">10+ Active Community Partnerships</h3>
					</div>
					<p class="text-xl text-gray-500 flex-grow text-center">
						We collaborate with local schools, businesses, and organizations to extend resources and opportunities, reinforcing a strong network of support for youth and families.
					</p>
				</div>
			</div>
		</div>
	</div>
</section>
