---

---

<section class="relative py-20">
	<div class="container px-4 mx-auto">
		<div class="mb-6 py-6 px-6 lg:pl-12 lg:pr-6 bg-gray-100 rounded-xl">
			<div class="flex flex-wrap -mx-4">
				<div class="w-full px-4 mb-4 lg:mb-0">
					<div class="lg:pt-6">
						<div class="max-w-md mb-10">
							<h2 class="text-3xl md:text-4xl font-semibold font-heading">Empowering young minds through education</h2>
						</div>
						<p class="text-xl text-gray-600 mb-6">
							At KRB Foundation, we believe literacy is more than just reading—it’s the foundation for lifelong learning, critical thinking, and personal empowerment. That’s why we’ve created programs
							that not only teach but inspire.
						</p>
						<p class="text-xl text-gray-600 mb-6">
							We’ve established safe, nurturing spaces where reading becomes an enjoyable and interactive experience. From storytime corners in barbershops to read-aloud challenges and book giveaways,
							we’re making literacy fun, accessible, and culturally relevant. Whether it’s a reluctant reader or a budding bookworm, every child is encouraged to grow at their own pace with the
							support of caring mentors and engaging material.
						</p>
						<p class="text-xl text-gray-600 mb-6">
							But our approach doesn’t stop with books. Our chess clubs teach strategy, patience, and problem-solving, while our STEAM programs (Science, Technology, Engineering, Arts, and Math) offer
							hands-on activities that blend creativity with logic—empowering students to see themselves as innovators and thinkers.
						</p>
						<p class="text-xl mb-8"><b>Our literacy and learning initiatives are designed to:</b></p>
						<ul class="flex flex-wrap text-left text-base lg:text-lg">
							<li class="w-full lg:w-1/2 mb-6 flex items-center">
								<svg class="mr-2" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path
										fill-rule="evenodd"
										clip-rule="evenodd"
										d="M5.67 0H14.34C17.73 0 20 2.38 20 5.92V14.091C20 17.62 17.73 20 14.34 20H5.67C2.28 20 0 17.62 0 14.091V5.92C0 2.38 2.28 0 5.67 0ZM9.43 12.99L14.18 8.24C14.52 7.9 14.52 7.35 14.18 7C13.84 6.66 13.28 6.66 12.94 7L8.81 11.13L7.06 9.38C6.72 9.04 6.16 9.04 5.82 9.38C5.48 9.72 5.48 10.27 5.82 10.62L8.2 12.99C8.37 13.16 8.59 13.24 8.81 13.24C9.04 13.24 9.26 13.16 9.43 12.99Z"
										fill="#45C1FF"></path>
								</svg>
								<p class="font-medium">Bridge academic gaps in underserved communities</p>
							</li>
							<li class="w-full lg:w-1/2 mb-6 flex items-center">
								<svg class="mr-2" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path
										fill-rule="evenodd"
										clip-rule="evenodd"
										d="M5.67 0H14.34C17.73 0 20 2.38 20 5.92V14.091C20 17.62 17.73 20 14.34 20H5.67C2.28 20 0 17.62 0 14.091V5.92C0 2.38 2.28 0 5.67 0ZM9.43 12.99L14.18 8.24C14.52 7.9 14.52 7.35 14.18 7C13.84 6.66 13.28 6.66 12.94 7L8.81 11.13L7.06 9.38C6.72 9.04 6.16 9.04 5.82 9.38C5.48 9.72 5.48 10.27 5.82 10.62L8.2 12.99C8.37 13.16 8.59 13.24 8.81 13.24C9.04 13.24 9.26 13.16 9.43 12.99Z"
										fill="#45C1FF"></path>
								</svg>
								<p class="font-medium">Spark curiosity and a love for learning</p>
							</li>
							<li class="w-full lg:w-1/2 mb-6 flex items-center">
								<svg class="mr-2" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path
										fill-rule="evenodd"
										clip-rule="evenodd"
										d="M5.67 0H14.34C17.73 0 20 2.38 20 5.92V14.091C20 17.62 17.73 20 14.34 20H5.67C2.28 20 0 17.62 0 14.091V5.92C0 2.38 2.28 0 5.67 0ZM9.43 12.99L14.18 8.24C14.52 7.9 14.52 7.35 14.18 7C13.84 6.66 13.28 6.66 12.94 7L8.81 11.13L7.06 9.38C6.72 9.04 6.16 9.04 5.82 9.38C5.48 9.72 5.48 10.27 5.82 10.62L8.2 12.99C8.37 13.16 8.59 13.24 8.81 13.24C9.04 13.24 9.26 13.16 9.43 12.99Z"
										fill="#45C1FF"></path>
								</svg>
								<p class="font-medium">Build foundational skills that support school success</p>
							</li>
							<li class="w-full lg:w-1/2 mb-6 flex items-center">
								<svg class="mr-2" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path
										fill-rule="evenodd"
										clip-rule="evenodd"
										d="M5.67 0H14.34C17.73 0 20 2.38 20 5.92V14.091C20 17.62 17.73 20 14.34 20H5.67C2.28 20 0 17.62 0 14.091V5.92C0 2.38 2.28 0 5.67 0ZM9.43 12.99L14.18 8.24C14.52 7.9 14.52 7.35 14.18 7C13.84 6.66 13.28 6.66 12.94 7L8.81 11.13L7.06 9.38C6.72 9.04 6.16 9.04 5.82 9.38C5.48 9.72 5.48 10.27 5.82 10.62L8.2 12.99C8.37 13.16 8.59 13.24 8.81 13.24C9.04 13.24 9.26 13.16 9.43 12.99Z"
										fill="#45C1FF"></path>
								</svg>
								<p class="font-medium">Boost self-esteem and communication</p>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!--3rd-->
		<div class="mb-6 py-6 px-6 lg:pl-12 lg:pr-6 bg-gray-100 rounded-xl">
			<div class="flex flex-wrap -mx-4">
				<div class="w-full px-4 mb-4 lg:mb-0">
					<div class="lg:pt-6">
						<div class="max-w-md mb-10">
							<h2 class="text-3xl md:text-4xl font-semibold font-heading">Building trust and unity through service</h2>
						</div>
						<p class="text-xl text-gray-600 mb-6">
							At KRB Foundation, we understand that it takes a village to raise a child—and we’re committed to helping build that village through intentional, people-centered outreach. Our Community
							Connections work is about more than just programs; it’s about relationships, trust, and long-term support.
						</p>
						<p class="text-xl text-gray-600 mb-6">
							We serve as a vital link between families, schools, and community resources, helping to remove barriers that prevent youth from thriving. Whether it’s connecting parents to local food
							assistance, helping students access tutoring or mental health services, or coordinating with schools for academic support, we ensure no child or family feels invisible or unsupported.
						</p>
						<p class="text-xl text-gray-600 mb-6">
							Through consistent engagement—like neighborhood events, school-based partnerships, mentorship programs, and family workshops—we create spaces where everyone feels welcome, seen, and
							empowered. Our outreach teams meet people where they are, listen to their needs, and respond with compassion and action.
						</p>
						<p class="text-xl mb-8"><b>Our Community Connections work aims to:</b></p>
						<ul class="flex flex-wrap text-left text-base lg:text-lg">
							<li class="w-full lg:w-1/2 mb-6 flex items-center">
								<svg class="mr-2" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path
										fill-rule="evenodd"
										clip-rule="evenodd"
										d="M5.67 0H14.34C17.73 0 20 2.38 20 5.92V14.091C20 17.62 17.73 20 14.34 20H5.67C2.28 20 0 17.62 0 14.091V5.92C0 2.38 2.28 0 5.67 0ZM9.43 12.99L14.18 8.24C14.52 7.9 14.52 7.35 14.18 7C13.84 6.66 13.28 6.66 12.94 7L8.81 11.13L7.06 9.38C6.72 9.04 6.16 9.04 5.82 9.38C5.48 9.72 5.48 10.27 5.82 10.62L8.2 12.99C8.37 13.16 8.59 13.24 8.81 13.24C9.04 13.24 9.26 13.16 9.43 12.99Z"
										fill="#45C1FF"></path>
								</svg>
								<p class="font-medium">Foster open communication between parents, educators, and service providers</p>
							</li>
							<li class="w-full lg:w-1/2 mb-6 flex items-center">
								<svg class="mr-2" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path
										fill-rule="evenodd"
										clip-rule="evenodd"
										d="M5.67 0H14.34C17.73 0 20 2.38 20 5.92V14.091C20 17.62 17.73 20 14.34 20H5.67C2.28 20 0 17.62 0 14.091V5.92C0 2.38 2.28 0 5.67 0ZM9.43 12.99L14.18 8.24C14.52 7.9 14.52 7.35 14.18 7C13.84 6.66 13.28 6.66 12.94 7L8.81 11.13L7.06 9.38C6.72 9.04 6.16 9.04 5.82 9.38C5.48 9.72 5.48 10.27 5.82 10.62L8.2 12.99C8.37 13.16 8.59 13.24 8.81 13.24C9.04 13.24 9.26 13.16 9.43 12.99Z"
										fill="#45C1FF"></path>
								</svg>
								<p class="font-medium">Provide culturally responsive support tailored to each family’s needs</p>
							</li>
							<li class="w-full lg:w-1/2 mb-6 flex items-center">
								<svg class="mr-2" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path
										fill-rule="evenodd"
										clip-rule="evenodd"
										d="M5.67 0H14.34C17.73 0 20 2.38 20 5.92V14.091C20 17.62 17.73 20 14.34 20H5.67C2.28 20 0 17.62 0 14.091V5.92C0 2.38 2.28 0 5.67 0ZM9.43 12.99L14.18 8.24C14.52 7.9 14.52 7.35 14.18 7C13.84 6.66 13.28 6.66 12.94 7L8.81 11.13L7.06 9.38C6.72 9.04 6.16 9.04 5.82 9.38C5.48 9.72 5.48 10.27 5.82 10.62L8.2 12.99C8.37 13.16 8.59 13.24 8.81 13.24C9.04 13.24 9.26 13.16 9.43 12.99Z"
										fill="#45C1FF"></path>
								</svg>
								<p class="font-medium">Empower families with tools, knowledge, and access to long-term solutions</p>
							</li>
							<li class="w-full lg:w-1/2 mb-6 flex items-center">
								<svg class="mr-2" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path
										fill-rule="evenodd"
										clip-rule="evenodd"
										d="M5.67 0H14.34C17.73 0 20 2.38 20 5.92V14.091C20 17.62 17.73 20 14.34 20H5.67C2.28 20 0 17.62 0 14.091V5.92C0 2.38 2.28 0 5.67 0ZM9.43 12.99L14.18 8.24C14.52 7.9 14.52 7.35 14.18 7C13.84 6.66 13.28 6.66 12.94 7L8.81 11.13L7.06 9.38C6.72 9.04 6.16 9.04 5.82 9.38C5.48 9.72 5.48 10.27 5.82 10.62L8.2 12.99C8.37 13.16 8.59 13.24 8.81 13.24C9.04 13.24 9.26 13.16 9.43 12.99Z"
										fill="#45C1FF"></path>
								</svg>
								<p class="font-medium">Build trust in underserved communities through visibility and follow-through</p>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!--4th-->
		<div class="mb-6 py-6 px-6 lg:pl-12 lg:pr-6 bg-gray-100 rounded-xl">
			<div class="flex flex-wrap -mx-4">
				<div class="w-full px-4 mb-4 lg:mb-0">
					<div class="lg:pt-6">
						<div class="max-w-md mb-10">
							<h2 class="text-3xl md:text-4xl font-semibold font-heading">Preparing youth for success beyond the classrom</h2>
						</div>
						<p class="text-xl text-gray-600 mb-6">
							Preparing youth for success beyond the classrom. Academic success is only part of the equation. At KRB Foundation, we know that true empowerment comes from giving young people the
							practical skills they need to navigate life with confidence, independence, and purpose.
						</p>
						<p class="text-xl text-gray-600 mb-6">
							Our Life Skills for Real Life initiative is designed to equip youth—especially those from underserved communities—with essential knowledge that often isn’t taught in traditional
							classrooms. These are the tools that help them thrive not just in school, but in everyday life, in the workforce, and within their communities.
						</p>
						<p class="text-xl mb-8"><b>Through interactive workshops, group discussions, and hands-on activities, participants learn real-world skills in areas such as:</b></p>
						<ul class="flex flex-wrap text-left text-base lg:text-lg">
							<li class="w-full lg:w-1/2 mb-6 flex items-center">
								<svg class="mr-2" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path
										fill-rule="evenodd"
										clip-rule="evenodd"
										d="M5.67 0H14.34C17.73 0 20 2.38 20 5.92V14.091C20 17.62 17.73 20 14.34 20H5.67C2.28 20 0 17.62 0 14.091V5.92C0 2.38 2.28 0 5.67 0ZM9.43 12.99L14.18 8.24C14.52 7.9 14.52 7.35 14.18 7C13.84 6.66 13.28 6.66 12.94 7L8.81 11.13L7.06 9.38C6.72 9.04 6.16 9.04 5.82 9.38C5.48 9.72 5.48 10.27 5.82 10.62L8.2 12.99C8.37 13.16 8.59 13.24 8.81 13.24C9.04 13.24 9.26 13.16 9.43 12.99Z"
										fill="#45C1FF"></path>
								</svg>
								<p class="font-medium">Money Management & Financial Literacy</p>
							</li>
							<li class="w-full lg:w-1/2 mb-6 flex items-center">
								<svg class="mr-2" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path
										fill-rule="evenodd"
										clip-rule="evenodd"
										d="M5.67 0H14.34C17.73 0 20 2.38 20 5.92V14.091C20 17.62 17.73 20 14.34 20H5.67C2.28 20 0 17.62 0 14.091V5.92C0 2.38 2.28 0 5.67 0ZM9.43 12.99L14.18 8.24C14.52 7.9 14.52 7.35 14.18 7C13.84 6.66 13.28 6.66 12.94 7L8.81 11.13L7.06 9.38C6.72 9.04 6.16 9.04 5.82 9.38C5.48 9.72 5.48 10.27 5.82 10.62L8.2 12.99C8.37 13.16 8.59 13.24 8.81 13.24C9.04 13.24 9.26 13.16 9.43 12.99Z"
										fill="#45C1FF"></path>
								</svg>
								<p class="font-medium">Effective Communication & Conflict Resolution</p>
							</li>
							<li class="w-full lg:w-1/2 mb-6 flex items-center">
								<svg class="mr-2" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path
										fill-rule="evenodd"
										clip-rule="evenodd"
										d="M5.67 0H14.34C17.73 0 20 2.38 20 5.92V14.091C20 17.62 17.73 20 14.34 20H5.67C2.28 20 0 17.62 0 14.091V5.92C0 2.38 2.28 0 5.67 0ZM9.43 12.99L14.18 8.24C14.52 7.9 14.52 7.35 14.18 7C13.84 6.66 13.28 6.66 12.94 7L8.81 11.13L7.06 9.38C6.72 9.04 6.16 9.04 5.82 9.38C5.48 9.72 5.48 10.27 5.82 10.62L8.2 12.99C8.37 13.16 8.59 13.24 8.81 13.24C9.04 13.24 9.26 13.16 9.43 12.99Z"
										fill="#45C1FF"></path>
								</svg>
								<p class="font-medium">Leadership & Decision-Making</p>
							</li>
							<li class="w-full lg:w-1/2 mb-6 flex items-center">
								<svg class="mr-2" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path
										fill-rule="evenodd"
										clip-rule="evenodd"
										d="M5.67 0H14.34C17.73 0 20 2.38 20 5.92V14.091C20 17.62 17.73 20 14.34 20H5.67C2.28 20 0 17.62 0 14.091V5.92C0 2.38 2.28 0 5.67 0ZM9.43 12.99L14.18 8.24C14.52 7.9 14.52 7.35 14.18 7C13.84 6.66 13.28 6.66 12.94 7L8.81 11.13L7.06 9.38C6.72 9.04 6.16 9.04 5.82 9.38C5.48 9.72 5.48 10.27 5.82 10.62L8.2 12.99C8.37 13.16 8.59 13.24 8.81 13.24C9.04 13.24 9.26 13.16 9.43 12.99Z"
										fill="#45C1FF"></path>
								</svg>
								<p class="font-medium">Time Management & Organization</p>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!--5th-->
		<div class="mb-6 py-6 px-6 lg:pl-12 lg:pr-6 bg-gray-100 rounded-xl">
			<div class="flex flex-wrap -mx-4">
				<div class="w-full px-4 mb-4 lg:mb-0">
					<div class="lg:pt-6">
						<div class="max-w-md mb-10">
							<h2 class="text-3xl md:text-4xl font-semibold font-heading">Because when we Invest in youth, we're shaping the future</h2>
						</div>
						<p class="text-xl text-gray-600 mb-6">
							At KRB Foundation, we believe that every child holds untapped potential—and that with the right guidance, support, and opportunities, that potential can transform not only individual
							lives but entire communities. That’s why our work is rooted in a simple but powerful idea: lasting change begins with one child at a time.
						</p>
						<p class="text-xl text-gray-600 mb-6">
							We don’t just serve large numbers—we build real, personal connections. Every program we run, every workshop we lead, every book we place in a child’s hands is an intentional step toward
							helping that young person grow into a confident, compassionate, and capable leader.
						</p>
						<p class="text-xl text-gray-600 mb-6">
							Our impact goes beyond the present moment. When we help a child develop life skills, build confidence, or discover a love for learning, we’re setting off a ripple effect that can
							influence families, schools, and neighborhoods for generations to come.
						</p>
						<p class="text-xl mb-8"><b>What lasting change looks like:</b></p>
						<ul class="flex flex-wrap text-left text-base lg:text-lg">
							<li class="w-full lg:w-1/2 mb-6 flex items-center">
								<svg class="mr-2" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path
										fill-rule="evenodd"
										clip-rule="evenodd"
										d="M5.67 0H14.34C17.73 0 20 2.38 20 5.92V14.091C20 17.62 17.73 20 14.34 20H5.67C2.28 20 0 17.62 0 14.091V5.92C0 2.38 2.28 0 5.67 0ZM9.43 12.99L14.18 8.24C14.52 7.9 14.52 7.35 14.18 7C13.84 6.66 13.28 6.66 12.94 7L8.81 11.13L7.06 9.38C6.72 9.04 6.16 9.04 5.82 9.38C5.48 9.72 5.48 10.27 5.82 10.62L8.2 12.99C8.37 13.16 8.59 13.24 8.81 13.24C9.04 13.24 9.26 13.16 9.43 12.99Z"
										fill="#45C1FF"></path>
								</svg>
								<p class="font-medium">A child who discovers they can read, and begins to dream bigger.</p>
							</li>
							<li class="w-full lg:w-1/2 mb-6 flex items-center">
								<svg class="mr-2" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path
										fill-rule="evenodd"
										clip-rule="evenodd"
										d="M5.67 0H14.34C17.73 0 20 2.38 20 5.92V14.091C20 17.62 17.73 20 14.34 20H5.67C2.28 20 0 17.62 0 14.091V5.92C0 2.38 2.28 0 5.67 0ZM9.43 12.99L14.18 8.24C14.52 7.9 14.52 7.35 14.18 7C13.84 6.66 13.28 6.66 12.94 7L8.81 11.13L7.06 9.38C6.72 9.04 6.16 9.04 5.82 9.38C5.48 9.72 5.48 10.27 5.82 10.62L8.2 12.99C8.37 13.16 8.59 13.24 8.81 13.24C9.04 13.24 9.26 13.16 9.43 12.99Z"
										fill="#45C1FF"></path>
								</svg>
								<p class="font-medium">A teenager who learns how to manage money, and helps their family budget.</p>
							</li>
							<li class="w-full lg:w-1/2 mb-6 flex items-center">
								<svg class="mr-2" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path
										fill-rule="evenodd"
										clip-rule="evenodd"
										d="M5.67 0H14.34C17.73 0 20 2.38 20 5.92V14.091C20 17.62 17.73 20 14.34 20H5.67C2.28 20 0 17.62 0 14.091V5.92C0 2.38 2.28 0 5.67 0ZM9.43 12.99L14.18 8.24C14.52 7.9 14.52 7.35 14.18 7C13.84 6.66 13.28 6.66 12.94 7L8.81 11.13L7.06 9.38C6.72 9.04 6.16 9.04 5.82 9.38C5.48 9.72 5.48 10.27 5.82 10.62L8.2 12.99C8.37 13.16 8.59 13.24 8.81 13.24C9.04 13.24 9.26 13.16 9.43 12.99Z"
										fill="#45C1FF"></path>
								</svg>
								<p class="font-medium">A student who gains leadership skills, and starts mentoring others.</p>
							</li>
							<li class="w-full lg:w-1/2 mb-6 flex items-center">
								<svg class="mr-2" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path
										fill-rule="evenodd"
										clip-rule="evenodd"
										d="M5.67 0H14.34C17.73 0 20 2.38 20 5.92V14.091C20 17.62 17.73 20 14.34 20H5.67C2.28 20 0 17.62 0 14.091V5.92C0 2.38 2.28 0 5.67 0ZM9.43 12.99L14.18 8.24C14.52 7.9 14.52 7.35 14.18 7C13.84 6.66 13.28 6.66 12.94 7L8.81 11.13L7.06 9.38C6.72 9.04 6.16 9.04 5.82 9.38C5.48 9.72 5.48 10.27 5.82 10.62L8.2 12.99C8.37 13.16 8.59 13.24 8.81 13.24C9.04 13.24 9.26 13.16 9.43 12.99Z"
										fill="#45C1FF"></path>
								</svg>
								<p class="font-medium">A youth who sees someone who looks like them succeed, and believes they can too.</p>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!--6th-->
	</div>
</section>
