---
import { Image } from "astro:assets"
import Adams from "../../media/drlynetteDadams.jpg"
import Brown from "../../media/kenbrown.png"
import Howard from "../../media/erichoward.jpg"
import Zolisha from "../../media/zolisha.jpeg"
---

<section class="relative py-20">
	<div class="hidden lg:block lg:absolute top-0 left-36 mt-48">
		<span class="flex items-center justify-center w-16 h-16 mb-12 bg-red-300 rounded-full">👑</span>
	</div>
	<div class="hidden lg:block lg:absolute top-0 right-10 mt-96">
		<span class="flex items-center justify-center w-16 h-16 mb-12 bg-blue-300 rounded-full">🧠</span>
	</div>
	<div class="container px-5 mx-auto">
		<div class="max-w-3xl mx-auto mb-12 lg:mb-20 text-center">
			<h2 class="mt-8 mb-10 text-4xl font-semibold font-heading">Our Leaders</h2>
			<p class="text-xl text-gray-500">Meet the dedicated individuals driving our mission forward.</p>
		</div>
		<div class="flex flex-wrap -m-3">
			<div class="w-full lg:w-1/2 p-3">
				<div class="p-6 border rounded-xl">
					<div class="flex flex-wrap -mx-5 items-start">
						<div class="w-full md:w-1/3 px-5 mb-4 lg:mb-0">
							<Image class="w-full md:w-40 h-52 object-cover rounded-xl" src={Brown} alt="Ken Brown" />
						</div>
						<div class="w-full md:w-2/3 px-5">
							<h3 class="text-2xl font-semibold font-heading mb-1">Ken Brown</h3>
							<p class="mb-6 text-gray-500">Chief Executive Officer/ President</p>
							<p class="text-gray-600">
								Ken Brown is a devoted real estate developer with over 30 years of experience in the real estate and financing industries. As a child of the South Side of Chicago, Ken grew up
								witnessing the impact of systemic injustices, particularly the effects of redlining and the absence of quality housing in Black communities. These experiences deeply shaped his
								faith-driven mission to uplift and empower under-resourced neighborhoods, particularly within the African American community. He believes that housing is not only a necessity but a key
								to transforming lives, and he is committed to ensuring that every individual, regardless of background or economic status, has access to a safe, affordable home.
							</p>
							<p class="text-gray-600 my-6">
								Understanding that the barbershop has always been more than just a place for haircuts—it’s a cornerstone of culture, conversation, and connection—Eric launched an innovative initiative
								that encourages kids to read during their visits. By integrating literacy into an everyday experience, he creates a relaxed, judgment-free space where children build confidence,
								improve reading skills, and engage in meaningful dialogue. His chair has become a classroom, a safe haven, and a hub for encouragement.
							</p>
							<p class="text-gray-600">
								Beyond the clippers, Eric sees his role as a mentor, motivator, and community builder. He collaborates with local organizations, participates in outreach events, and actively seeks
								ways to make learning and leadership accessible to youth of all backgrounds. With a heart for service and a genuine commitment to transformation, Eric continues to change lives—one
								book, one conversation, and one haircut at a time.
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="w-full lg:w-1/2 p-3">
				<div class="p-6 border rounded-xl">
					<div class="flex flex-wrap items-start -mx-5">
						<div class="w-full md:w-1/3 px-5 mb-4 lg:mb-0">
							<Image class="w-full md:w-40 h-52 object-cover rounded-xl" src={Zolisha} alt="Zolisha Ware" />
						</div>
						<div class="w-full md:w-2/3 px-5">
							<h3 class="text-2xl font-semibold font-heading mb-1">Dr. Zolisha L Ware</h3>
							<p class="mb-6 text-gray-500">Vice President of Operations</p>
							<p class="text-gray-500">
								Dr. Zolisha L. Ware stands as a dynamic and inspiring figure in the realms of education, leadership, and business. With an impressive academic background, Dr. Ware holds a doctorate in
								Leadership, bolstered by dual master’s degrees in Business Management and Executive Leadership. Her educational achievements are seamlessly intertwined with her unwavering dedication
								to cultivating young talent and shaping the leaders of tomorrow.
							</p>
							<p class="text-gray-600 my-6">
								Dr. Ware’s extensive experience working as a tenure-track professor with college students from eager freshmen to poised seniors has established her as an exceptional mentor. Her
								genuine passion for guiding aspiring entrepreneurs has made her a vital resource for those aiming to make a significant impact in the business world. Her mentoring approach, deeply
								rooted in practical insights and empathetic guidance, empowers students to navigate challenges and seize opportunities with confidence.
							</p>
							<p class="text-gray-600 mb-6">
								Beyond her academic and mentoring roles, Dr. Ware brings a wealth of practical experience from her decade-long tenure at a Fortune 500 company. In her role as a liaison, she skillfully
								acted as a bridge between various departments, fostering communication and collaboration that drove impactful results. Her ability to navigate complex organizational structures has
								endowed her with a unique perspective on business dynamics, enabling her to impart invaluable knowledge to her protégés.
							</p>
							<p class="text-gray-600">
								Through her harmonious blend of academic expertise, hands-on experience, and an unyielding commitment to nurturing the next generation of leaders, Dr. Zolisha L. Ware continues to be a
								revered force in education and business, inspiring countless individuals to pursue excellence and innovation in their respective fields.
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="w-full lg:w-1/2 p-3">
				<div class="p-6 border rounded-xl">
					<div class="flex flex-wrap items-start -mx-5">
						<div class="w-full md:w-1/3 px-5 mb-4 lg:mb-0">
							<Image class="w-full md:w-40 h-52 object-cover rounded-xl" src={Howard} alt="Eric Howard" />
						</div>
						<div class="w-full md:w-2/3 px-5">
							<h3 class="text-2xl font-semibold font-heading mb-1">Eric Howard</h3>
							<p class="mb-6 text-gray-500">Community Impact Coordinator</p>
							<p class="text-gray-600">
								Eric Howard is a dedicated barber and youth mentor based in Bloomington-Normal, Illinois, known not only for his precision and artistry with clippers but also for his unwavering
								passion for uplifting the next generation. A native of Chicago, Eric grew up in a community where positive role models made all the difference—and he carries that same spirit of
								support and leadership into everything he does.
							</p>
							<p class="text-gray-600 my-6">
								Understanding that the barbershop has always been more than just a place for haircuts—it’s a cornerstone of culture, conversation, and connection—Eric launched an innovative initiative
								that encourages kids to read during their visits. By integrating literacy into an everyday experience, he creates a relaxed, judgment-free space where children build confidence,
								improve reading skills, and engage in meaningful dialogue. His chair has become a classroom, a safe haven, and a hub for encouragement
							</p>
							<p class="text-gray-600">
								Beyond the clippers, Eric sees his role as a mentor, motivator, and community builder. He collaborates with local organizations, participates in outreach events, and actively seeks
								ways to make learning and leadership accessible to youth of all backgrounds. With a heart for service and a genuine commitment to transformation, Eric continues to change lives—one
								book, one conversation, and one haircut at a time.
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="w-full lg:w-1/2 p-3">
				<div class="p-6 border rounded-xl">
					<div class="flex flex-wrap items-start -mx-5">
						<div class="w-full md:w-1/3 px-5 mb-4 lg:mb-0">
							<Image class="w-full md:w-40 h-52 object-cover rounded-xl" src={Adams} alt="Dr. Lynette Adams" />
						</div>
						<div class="w-full md:w-2/3 px-5">
							<h3 class="text-2xl font-semibold font-heading mb-1">Dr. Lynette D. Adams</h3>
							<p class="mb-6 text-gray-500">Director of Learning and Development</p>
							<p class="text-gray-600">
								Dr. Lynette D. Adams, PhD, is an independent business consultant for LSeven Enterprises, LLC. Her diverse professional experience spans local and federal government, as well as private
								industry. This is experience is from the legal field, education, human resources, employment services, logistics management, social services, business management, and mental health
								services.
							</p>
							<p class="text-gray-600 my-6">
								Born and raised in Chicago, Illinois, Dr. Adams received her secondary education from Wilberforce University, University of Dayton, and Capella University. She is a proud mother of
								three and grandmother of three grandsons.
							</p>
							<p class="text-gray-600 mb-6">
								In her personal time, Dr. Adams enjoys spending quality time with family and friends, pursuing creative hobbies like sewing and crafting, and engaging in minor carpentry work. She is
								also passionate about community service, particularly for youth and seniors, and is actively involved in political activism. Traveling and enjoying a nice cigar on a beach is another
								one of her favorite pastimes.
							</p>
							<p class="text-gray-600 mb-6">Mantra: “To God be the glory, therefore, serve mankind to show your gratitude for God’s graces and mercy.”</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
