<section class="relative py-20 overflow-hidden">
	<div class="absolute top-0 left-0 w-full inset-0 bg-gray-900 opacity-50 z-10"></div>
	<img
		class="absolute top-0 left-0 w-full h-full object-cover"
		src="https://images.unsplash.com/photo-1742860901403-63acd317da54?q=80&w=3870&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
		alt=""
	/>
	<div class="relative container px-4 mx-auto z-10">
		<div class="max-w-md mx-auto lg:mx-0 p-8 bg-white rounded-lg">
			<span class="flex items-center justify-center w-16 h-16 mb-12 bg-blue-300 rounded-full">🫵</span>
			<h3 class="mb-4 text-2xl font-semibold font-heading">Join Us in Making a Difference</h3>
			<p class="mb-6 text-gray-500 leading-loose">
				Whether you're a parent, educator, volunteer, or supporter, we invite you to be part of our mission. Together, we can transform after-school hours into a time of exploration, empowerment, and
				excellence.
			</p>
			<a class="text-red-500 font-medium underline hover:no-underline" href="volunteer.html">Learn more</a>
		</div>
	</div>
</section>
