<div class="relative h-screen w-full bg-cover bg-center flex items-center justify-center" style="background-image: url('/media/heroimg.png');">
	<div class="absolute inset-0 bg-black opacity-50"></div>
	<div class="relative z-10 text-center px-4 md:px-8 max-w-5xl">
		<h1 class="text-5xl md:text-6xl mb-4 leading-tight font-semibold font-heading text-white">Investing In Youth, Impacting the World</h1>
		<p class="text-xl md:text-2xl mb-8 text-gray-200">
			KRB Foundation is committed to creating lasting change by investing in youth through impactful initiatives in education, wellness, and personal development. Join us in empowering the next
			generation and building a more equitable future for all.
		</p>
	</div>
</div>
