---

---

<section class="bg-gray-900 py-20">
	<div class="container px-4 mx-auto">
		<h2 class="mb-8 md:mb-16 text-4xl lg:text-6xl font-semibold font-heading text-white">Ready to Get Involved? Enroll Today!</h2>
		<div class="flex flex-wrap items-center">
			<div class="inline-block max-w-xl mb-6 md:mb-0">
				<p class="text-xl text-gray-300 mb-2">
					KRB Foundation is excited to welcome students and families into our enriching before and after school programs! Whether your child is interested in STEAM projects, building life skills,
					diving into a good book, or mastering chess, we have a safe and supportive space for them to grow, learn, and lead.
				</p>
				<p class="text-xl text-gray-300">
					Our programs are open to youth of all backgrounds and are designed to fit into your family's schedule with both before and after school options available. Space is limited, so we encourage
					you to register early! If you have questions or need help with enrollment, feel free to contact us
				</p>
			</div>
			<a class="inline-block ml-auto w-full md:w-auto px-12 py-4 text-center text-sm font-medium leading-normal rounded transition duration-200 bg-amber-300 hover:bg-amber-400" href="volunteer"
				>Sign up</a
			>
		</div>
	</div>
</section>
